auth
node_modules
google-cloud-sdk-453.0.0-darwin-arm.tar.gz
google-cloud-sdk
.DS_Store
auth2

logs/*
logs/bot-combined.log
cache/goldPrice.json
cache/goldScrapeTime.json
bot-wa.zip
.env
package-lock.json
package-lock2.json
logs/debug/*